{% extends "base.html" %}

{% block title %}Добавление блюда{% endblock %}

{% block content %}
    <h2>Добавление блюда</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}